.display__container {
  background-color: #878787;
  padding-right: 1px;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-left: auto;
}

.display__sheet-header-container {
  display: grid;
  grid-template-columns: 290px 780px 320px;
  height: 50px;
  margin-bottom:5px;
  border-radius: 5px 5px 0px 0px;
  background-color: #474747;
  color: #ecf0f1;
  border: 3px #878787;
  border-style: solid solid none solid;
  
}

.display__sheet-header {
  font-size: 18px;
  margin: auto;
}
.display__sheet-sub-header {
  font-size: 18px;
  /* margin:auto; */
  margin-right: 2px;
}
.display__line-break {
  /* display: grid;
  grid-template-columns: 150px 1000px 200px; */
  height: 10px;
  background-color: #c7c7c7;
  border: 3px #878787;
  border-style: none solid none solid;
}

.display__sheet-sub-header {
  font-size: 16px;
  padding-top: 5px;
  margin-left: 50px;
  font-family: Lora;
}
.display__sheet-branding {
  text-align: center;
  font-size: 16px;
  padding-top: 8px;
  font-family: Lora;
}

.display__header-normal.equipment-display {
  padding-top: 10px;
  margin: auto;
}

.display__channel-container {
  background-color: #878787;
  padding-bottom:10px;
  margin-top: 1px;
  /* border: 3px #878787; */
  /* border-style: none solid none solid; */
}
.display__background {
  background-color: #c7c7c7;
  border: 3px #878787;
  border-style: none solid none solid;
  padding-bottom: 20px;
}

.display__channel-ip-container {
  display: grid;
  grid-template-columns: 500px auto;
  /* column-gap: 10px; */
  background-color: #c7c7c7;
  padding-top: 2px;
  margin-right: 0px;
  height: auto;
  /* border-bottom: 5px solid #878787; */
}
.display__ip-auxiliary {
  width: 100%;
}
.display__channel-psip-container {
  /* display: auto; */
  /* grid-template-columns: 100%; */
  /* background-color: #878787; */
  /* padding-bottom: 5px; */
  /* padding-top: 2px; */
  margin-right: 0px;
  height: auto;
}

.display__header-normal {
  background-color: #474747;
  font-family: avenir;
  color: #ecf0f1;
  font-size: 14px;
  vertical-align: center;
  border: 1px solid #878787;
  border-style: none solid solid solid;
  height: 35px;
  /* width:184px; */
}

.display__header-normal.edit {
  table-layout: fixed !important;
  width: 30px !important;
  font-size: 16px;
  /* border: 2px #878787;
  border-style: solid none solid none; */
  background-color: #474747;
}
.display__header-normal.edit.selected {
  color: red;
  width: 30px;
}

.display__edit-all-text {
  font-size: 13px;
}
.display__channel-data {
  font-size: 16px;
  background: white;
}
.display__channel-data > td {
  text-align: center;
  border: 1px solid #878787;
  /* border-style: solid solid solid none; */
  font-family: Lora;
  text-align: center;
  height:30px;
}
.display__channel-data > tr{
 border-bottom: 1px solid #878787;

}

.display__channel-data.selected {
  font-size: 16px;
}
.display__channel-data.selected > td {
  box-shadow: inset 0px -1px 0px 0px red, inset 0px 1px 0px 0px red;
  border: 1.5px red;
  border-style: none solid none none;
  font-weight: bold;
  font-family: Lora;
}
.display__channel-data.selected > tr > td:first-child {
  margin-right: 5px;
}
.display__channel-data.selected > tr > td:first-child {
  box-shadow: inset 1px 0px 0px 1px#878787;
}

.display__channel-data:nth-child(even) {
  background-color: #ecf0f1;
}
.large {width:200px;}
.small {width:165px;}
.small {width:100px;}


.display__text-box {
  height: 35px;
}
.display__text-box.large {
  width: 200px;
}
.display__text-box.small {
  width: 70px;
}
.display__text-box.remove {
  background-color:red;
  color:white;
  cursor: pointer;
  border-style: none none none none!important;
  border-radius: 8px;
  width:120px;

}

/* EDITING BOXES */
.display__edit-text-box {
  height: 35px;
  /* border:none; */
  font-family: Lora;
}
.display__edit-text-box > * {
  font-family: Lora;
  background-color: inherit;
  border: none;
}

.display__edit-text-box.large {
  width: 120px;

}
.display__edit-text-box.small {
  width: 70px;
  font-weight: bold;
}

.display__edit-text-box.large > input {
  width: 80%;
  font-weight: bold;
}
.display__edit-text-box.large > select {
  width: 95%;
  border: none;
  font-weight: bold;
  margin-left: 2px;
}
.display__edit-text-box.small > input {
  width: 80%;

  font-weight: bold;
}
.display__edit-text-box.small > select {
  width: 95%;
  border: none;
  font-weight: bold;
  margin-left: 2px;
}
.display__text-area-container {
  display: grid;
  grid-template-columns: auto auto;
}

.display__delete-line {
  background-color: red;
}

#edit-column {

  padding-top: 5px;
  font-size:20px;
  table-layout: fixed!important;
  width:32px!important;
  padding-left: 5px;
  padding-top:7px; 
  margin-right:5px;
  border-bottom: 1px solid #878787;
  color:#474747;
  
}

#edit-column-selected {
  background-color: red;
  font-size:22px;
  table-layout: fixed!important;
  width:32px!important;
  color: #474747;
  padding-left: 5px;
  padding-top:7px; 
  border-bottom: 1px solid #878787;
  /* outline:1.5px solid #878787;
  outline-offset: -1.5px; */
}

#edit-column-selected:hover,
#edit-column-header-selected:hover {
  color: white;
  cursor: pointer;
}

#edit-column:hover,
#edit-column-header:hover {
  color: red;
  cursor: pointer;
}
