
.Display_new_grid_colors{
/* Headers */
background-color:#474747;

/* Secondary accent color */
background-color:#C7C7C7;

/* background color */
background-color:#878787;

/* alternating row color */
background-color:#ECF0F1;

/* red attention */
background-color:#C4141A;
}





.templates_colors{
  background-color:#34495e;
  background-color: #2980b9;
  background-color:#f1c40f;
  background-color:#878787;
  /* Header and display background gray */
  background-color:#DCDCDC;
  
/* display header background */
/* background-color:#bdc3c7; */
background-color:#9e9e9e;

/* alternating line coloer */
background-color:#ecf0f1;
}

.material-ui{
  background-color:#fafafa

#f5f5f5

#eeeeee

#e0e0e0

#bdbdbd

#9e9e9e

#757575

#616161

#424242

#212121
 
#d5d5d5

#aaaaaa

#303030

#616161;
}